[submodule "thirdParties/cpp-sdl2"]
	path = thirdParties/cpp-sdl2
	url = https://github.com/Edhebi/cpp-sdl2.git
[submodule "thirdParties/entt"]
	path = thirdParties/entt
	url = https://github.com/skypjack/entt.git
[submodule "thirdParties/imgui_entt_entity_editor"]
	path = thirdParties/imgui_entt_entity_editor
	url = https://github.com/Green-Sky/imgui_entt_entity_editor.git
[submodule "thirdParties/imgui"]
	path = thirdParties/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdParties/termcolor"]
	path = thirdParties/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "thirdParties/cinject"]
	path = thirdParties/cinject
	url = https://github.com/mjirous/cinject
[submodule "thirdParties/ChaiScript"]
	path = thirdParties/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
[submodule "thirdParties/inih"]
	path = thirdParties/inih
	url = https://github.com/jtilly/inih.git
[submodule "thirdParties/sol2"]
	path = thirdParties/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "thirdParties/Box2D"]
	path = thirdParties/Box2D
	url = https://github.com/RLefrancoise/Box2D.git
[submodule "thirdParties/luajit"]
	path = thirdParties/luajit
	url = https://github.com/RLefrancoise/luajit.git
[submodule "thirdParties/quickjspp"]
	path = thirdParties/quickjspp
	url = https://github.com/ftk/quickjspp.git
[submodule "thirdParties/yaml-cpp"]
	path = thirdParties/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
